<div [ngClass]="showModal == true ? '' : 'modal_disabled'" class="modal_background">

    <app-add-new-token *ngIf="currentModal == modals.ADD_TOKEN"
    (closeModalButton)="closeModal()"
    [currentAddressIndex]="currentAddressIndex">
    </app-add-new-token>

    <app-account-settings-modal *ngIf="currentModal == modals.ACCOUNT_SETTINGS"
    (closeModalButton)="closeModal()"
    (switchToNextAccount)="nextAccount()"
    (switchToPreviousAccount)="previousAccount()"
    [accountIndex]="currentAddressIndex"
    [accountAddress]="currentAccountAddress"
    [avaxBalance]="avaxBalance">
    </app-account-settings-modal>

    <app-view-connection-info *ngIf="currentModal == modals.VIEW_CONNECTION_INFO"
    (closeModalButton)="closeModal()"
    (deleteConnectionButton)="deleteConnection($event)"
    [port]="connectionInfoPort">
    </app-view-connection-info>
</div>