.modal_background {
    position: absolute;
    top: 13px;
    left: 9px;
    width: 95vw;
    border-radius: 14px;
    height: 95vh;
    z-index: 1;
    backdrop-filter: blur(7px);
    //box-shadow: 0 0 0 4px rgb(255 255 255 / 10%) inset;
    box-shadow: 0 0 7px -0.9px #000;
    //background-color: var(--darker_background_color);
    transition-duration: 170ms;
    filter: opacity(100%);
}
.modal_disabled {
    //filter: opacity(0%);
    visibility: hidden;
    backdrop-filter: blur(0px);
    filter: opacity(0%);
    transition-duration: 170ms;
    box-shadow: 0 0 0 6px rgb(255 255 255 / 0%) inset;
}

