/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Rounded-Elegance;
    src: url(./assets/fonts/Rounded_Elegance.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  
  font-family: Rounded-Elegance;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 345px;
  height: 525px;
  
  --darker_background_color: rgb(30, 30, 30);
  --main_background_color: rgb(20, 20, 20);
  
  --main_color_1: rgb(255, 0, 64);
  --main_color_2: #18FF6A;
  --shadow_size: 10px;
  --shadow_color: rgb(10, 10, 10);

  color: white;
  background-color: var(--main_background_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  scrollbar-width: 8px;
  scrollbar-color: var(--main_background_color) var(--darker_background_color);
}
*::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--main_background_color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--darker_background_color);
  border-radius: 20px;
  border: 3px solid var(--darker_background_color);
}
h2 {
  margin: 2px;
  padding: 2px;
}
h1 {
  margin: 2px;
  padding: 2px;
}
h5 {
  margin: 2px;
  padding: 2px;
}

::selection {
  background: var(--main_color_1);
}
  