<div class="shadow_box" style="width: 1000px; height: 200px; margin: 25px; flex-direction: column;
 align-items: center; justify-content: center; padding: 10px; padding-left: 15px; padding-right: 15px; overflow-wrap: break-word; flex-wrap: wrap; display: flex;">
    <div *ngFor="let word of seedPhrase; let i = index" style="width: 130px;  height: 25px; margin: 10px;">

        <app-hover-to-display-word word="{{word}}" index="{{i + 1}}">

        </app-hover-to-display-word>
    </div>
</div>


<div class="container_flex" style="width: inherit; height: inherit;">

</div>
