<div>
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="1" (keyup)="onInputKey($event, '2')" />
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="2" (keyup)="onInputKey($event, '3')" />
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="3" (keyup)="onInputKey($event, '4')" />
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="4" (keyup)="onInputKey($event, '5')" />
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="5" (keyup)="onInputKey($event, '6')" />
    <input class="pin_input" [style.width.px]="pinBoxWidth" [style.height.px]="pinBoxHeight" type="password" maxlength="1" id="6" (keyup)="onInputKey($event, '7')"/>
</div>