<div class="container_flex" [ngClass]="currentTab == tabs.INTRODUCTION ? '' : 'hide_container'">
    
    <div class="shadow_box" style="width: 700px; height: 200px; margin: 25px; justify-content: center; align-items: center; padding: 10px; padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;">
           <span style="color: white; font-size: 16px;"> Welcome to METRO!</span> <br> <br>
            Make sure that <span class="glowy_text">no one</span> and <span class="glowy_text">nothing</span> is watching you while you setup the wallet! <br> <br>

            The safest approach would be to use a hardware wallet, such as a Ledger or Trezor with metro! Alas, This feature is yet to come in the future! <br> <br>

            METRO is in Alpha version, this means that a lot of new features & updates will be released frequently!
        </p>
    </div>
    
    <div style="width: 170px;">
        <app-default-button (buttonClick)="next()" text="I understand!">
        </app-default-button>
    </div>

</div>


<div class="container_flex" [ngClass]="currentTab == tabs.WRITE_DOWN_SEED ? '' : 'hide_container'">

    
    <div class="shadow_box" style="width: 700px; height: 200px; margin: 25px; justify-content: center; align-items: center; padding: 10px; padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;">
            <span style="color: white; font-size: 16px;"> Seed Phrase & Private Keys</span> <br> <br>
            Hover over each box below and Write the words down <span class="glowy_text">In order</span> somewhere safe. <br> <br>
            This set of words is your Seed phrase, you may use it to recover your wallet. <span class="glowy_text">If you lose your Seed, you lose All your assets.</span> <br> <br>
            
            Do not share your seed with Anyone, <span class="glowy_text">Ever</span>.
        </p>
    </div>

    <app-seed-phrase-box
    (generatedSeedphrase)="selectGeneratedSeedphrase($event)">
    </app-seed-phrase-box>
    
    <div style="width: 220px;">
        <app-default-button (buttonClick)="next()" text="I Have Written my Seed!">
        </app-default-button>
    </div>

</div>




<div class="container_flex" [ngClass]="currentTab == tabs.SEED_PHRASE ? '' : 'hide_container'">
    
    <div class="shadow_box" style="width: 700px; height: 100px; margin: 25px; justify-content: center; align-items: center; padding: 10px; padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;">
            Please enter your seed-phrase seperated by spaces, while no one is watching.
        </p>
    </div>
    
    <div style="justify-content: center; align-content: center; margin-bottom: 25px; width: 800px; align-items: center; justify-items: center; flex-direction: column; display: flex;">
        <div style="margin: 10px;">
            <app-input-fancy (inputTextEvent)="updateSeed($event)"
            placeholder="Enter Seed Phrase while nothing is watching"  [inputWidth]="700" [inputHeight]="80" inputType="">
            </app-input-fancy>
        </div>
    </div>
    <div style="width: 150px; display: flex; flex-direction: row; justify-content: space-evenly;">
        <app-default-button (buttonClick)="back()" text="Back">
        </app-default-button>
        <app-default-button (buttonClick)="next()" text="Next">
        </app-default-button>
    </div>

</div>

<div class="container_flex" [ngClass]="currentTab == tabs.PASSWORD ? '' : 'hide_container'">
    
    <div class="shadow_box" style="width: 700px; height: 100px; margin: 25px; justify-content: center; align-items: center; padding: 10px; padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;">
            Please enter a password, this password will be used Once everytime you restart your browser. You might want to
            write this password down somewhere offline & secure.
        </p>
    </div>
    
    <div style="justify-content: center; align-content: center; margin-bottom: 25px; width: 800px; align-items: center; justify-items: center; flex-direction: column; display: flex;">
        <div style="margin: 10px;">
            <app-input-fancy (inputTextEvent)="updatePassword($event, false)"
            placeholder="Enter password"  [inputWidth]="300" [inputHeight]="35" inputType="password">
            </app-input-fancy>
        </div>
        <div style="margin: 10px;">
            <app-input-fancy (inputTextEvent)="updatePassword($event, true)"
            placeholder="Verify password"  [inputWidth]="300" [inputHeight]="35" inputType="password">
            </app-input-fancy>
        </div>
    </div>
    <div style="width: 100px;">
        <app-default-button (buttonClick)="next()" text="Proceed">
        </app-default-button>
    </div>

</div>

<div class="container_flex" [ngClass]="currentTab == tabs.PIN_CODE ? '' : 'hide_container'">
    
    <div class="shadow_box" style="width: 700px; height: 100px; margin: 25px; justify-content: center; align-items: center; padding: 10px;  padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;" >
            Please enter a 6 digit pin-code. <br> This pin-code will be used very often, you must not forget it.
        </p>
    </div>
    
    <div style="justify-content: center; align-content: center; margin-bottom: 25px; width: 800px; align-items: center; justify-items: center; flex-direction: column; display: flex;">
        <div style="margin: 10px;" *ngIf="isVerifyingPin == false">
            <app-pincode-input (inputTextEvent)="updatePincode($event, false)"
            placeholder="Enter Pin-code" [pinBoxWidth]="20" [pinBoxHeight]="20">
             </app-pincode-input>
            <h5>
                Enter PIN code.
            </h5>
        </div>
        <div style="margin: 10px;" *ngIf="isVerifyingPin == true">
            <app-pincode-input (inputTextEvent)="updatePincode($event, true)"
            placeholder="Enter Pin-code" [pinBoxWidth]="20" [pinBoxHeight]="20">
            </app-pincode-input>
            <h5>
                Verify PIN code.
            </h5>
        </div>
    </div>
    <div style="width: 100px;">
        <app-default-button (buttonClick)="next()" text="Proceed">
        </app-default-button>
    </div>

</div>

<div class="container_flex" [ngClass]="currentTab == tabs.FINISHED ? '' : 'hide_container'">
    
    <div class="shadow_box" style="width: 700px; height: 225px; margin: 25px; justify-content: center; align-items: center; padding: 10px; padding-left: 15px; padding-right: 15px;">
        <p style="color: gray; font-size: 16px;">
           <span style="color: white;"> Setup is DONE! <br> <br>
           You can now use Metro with the Avalanche network! <br> <br> </span>
           Avalanche is multi-chain, with the X-chain, P-chain, C-chain, and more subnet chains yet to come! <br> <br>

           For now, you can use the C-chain with any dApp your heart desires by connecting as metamask. <br> <br>

           Metro will support other chains and avalanche features in the near future.
        </p>
    </div>
    

</div>
