
<div *ngIf="currentWalletStage == walletStages.UNLOCKED">

  <app-navbar (sendTabClick)="setTab(currentTab.SEND_TAB); closePopup()"
   (assetsTabClick)="setTab(currentTab.ASSETS_TAB); closePopup()"
   (settingsTabClick)="setTab(currentTab.SETTINGS_TAB); closePopup()">
  
  </app-navbar>
  
  <div style="position: absolute; width: 100vw;">
    <div *ngIf="wallet != null">

      <div *ngIf="tabs.tab == currentTab.SEND_TAB" [@fadeOut]>
        <app-send-tab  
        (sendButtonClick)="setPopup(currentPopup.SEND_POPUP); togglePopup()"
        (connectButtonClick)="setPopup(currentPopup.CONNECT_POPUP); togglePopup()"
        (addTokenButtonClick)="addNewToken()"
        (openTxHash)="openTxInExplorer($event)"
        [currentAddress]="currentWalletAddress" [avaxAmount]="wallet.avaxAmountWhole" [tokenArray]="wallet.tokensCache.tokenVault[0].tokens"
        [txHistory]="wallet.txHistory.history.transactions"
        [isSearchingTokens]="wallet.isSearchingTokens">
        </app-send-tab>
      </div>
  
      <div *ngIf="tabs.tab == currentTab.ASSETS_TAB" [@fadeOut]>
        <app-assets-tab 
        [tokenArray]="wallet.tokensCache.tokenVault[0].tokens"
        [txHistory]="wallet.txHistory.history.transactions"
        (addTokenButtonClick)="addNewToken()"
        (openTxHash)="openTxInExplorer($event)">
        </app-assets-tab>
      </div>

      <div *ngIf="tabs.tab == currentTab.SETTINGS_TAB" >
        <app-settings-tab
        [walletState]="wallet"
        (setChainID)="updateChainID($event)"
        (clearTransactionHistory)="clearTxHistory()">
        </app-settings-tab>
      </div>
    
      <app-popup [popupState]="popups.popup" [showPopup]="showPopup" (closePopup)="togglePopup()"
      [tokenArray]="wallet.tokensCache.tokenVault[0].tokens"
      [currentAvaxAmount]="wallet.avaxAmountWholePrecise"
      [walletState]="wallet"
      [connectedPorts]="arrayOfConnections"
      (openConnectionModalEvent)="openConnectionModal($event)">
      </app-popup>
    </div>
  </div>
  
  <app-modal-module [showModal]="isModalEnabled"
  (closeModalButton)="closeModal()"
  (deleteConnectionEvent)="deleteConnection($event)"
  [currentModal]="currentModal.modal"
  [connectionInfoPort]="selectedPort">
  </app-modal-module>

</div>

<div *ngIf="currentWalletStage == walletStages.PINCODE || currentWalletStage == walletStages.PASSWORD_AND_PINCODE ">
  <app-unlock-wallet-page [seedStage]="currentWalletStage" [encryptedSeed]="encryptedSeedData"
  (onSeedDecrypt)="initWallet($event)">
  </app-unlock-wallet-page>
</div>

<div *ngIf="currentWalletStage == walletStages.ONBOARDING">
  <app-onboarding></app-onboarding>
</div>

<div *ngIf="currentWalletStage == walletStages.NONE">
  wait a sec!
</div>


<router-outlet></router-outlet>
