<div style="display: flex; flex-direction: column; box-sizing: border-box; width: auto;">

    <div (click)="clickModule()" class="module_box" style="padding: 4px; padding-top: 6px;">
        <div class="module_icon">
            &#xf3bf;
        </div>
        <div *ngIf="transaction.txType == 'SEND ASSET'" class="left_label">
            Sent Asset
        </div>
        <div class="right_label">
            {{transaction.txAmount}} {{transaction.assetSymbol}}
        </div>
    </div>
    <h4 style="margin: 3px;"> {{transaction.transactionDate}} </h4>
</div>