
  <!-- If wallet is initialized, we show the web walled stuff. -->
  <div [ngClass]="pages.page == currentPage.WALLET ? 'show' : 'hide'">
    <div class="container_flex" style="justify-content: center; align-content: center;">

      <h1>
        Metro Dashboard - Coming very soon
      </h1>
      <!--
        <app-nav-menu></app-nav-menu>
      -->
      
    </div>
  </div>
  <!-- When we need to initialize the wallet -->
  <div [ngClass]="pages.page == currentPage.INITIALIZE_WALLET ? 'show' : 'hide'">
    <app-onboarding (generateWalletEvent)="updateWalletStatus()"></app-onboarding>
  </div>

  <div [ngClass]="pages.page == currentPage.CREATE_NEW_WALLET ? 'show' : 'hide'">
    <app-generate-new-wallet (generateWalletEvent)="updateWalletStatus()"></app-generate-new-wallet>
  </div>
<router-outlet></router-outlet>
